.navigation-links1-nav {
  flex: 0 0 auto;
  width: 423px;
  height: 12px;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.cart {
  fill: #CAE250;
  right: 118px;
  width: 62px;
  bottom: 24px;
  height: 46px;
  position: absolute;
}
.sellbook {
  color: #CAE250;
}
.searchbook {
  color: #CAE250;
  margin-left: 32px
}
.logout {
  color: #CAE250;
  margin-left: 32px
}

.button {
  color: var(--dl-color-gray-black);
  display: inline-block;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.input {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem 1rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.textarea {
  color: var(--dl-color-gray-black);
  cursor: auto;
  padding: 0.5rem;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
}
.list {
  width: 100%;
  margin: 1em 0px 1em 0px;
  display: block;
  padding: 0px 0px 0px 1.5rem;
  list-style-position: outside;
}
.list-item {
  display: list-item;
}
.content {
  font-size: 16px;
  font-family: Inter;
  font-weight: 400;
  line-height: 1.15;
}
.heading {
  font-size: 32px;
  font-family: Inter;
  font-weight: 700;
  line-height: 1.15;
}

:root {
  --dl-color-gray-500: #595959;
  --dl-color-gray-700: #999999;
  --dl-color-gray-900: #D9D9D9;
  --dl-size-size-large: 144px;
  --dl-size-size-small: 48px;
  --dl-color-danger-300: #A22020;
  --dl-color-danger-500: #BF2626;
  --dl-color-danger-700: #E14747;
  --dl-color-gray-black: #000000;
  --dl-color-gray-white: #FFFFFF;
  --dl-size-size-medium: 96px;
  --dl-size-size-xlarge: 192px;
  --dl-size-size-xsmall: 16px;
  --dl-space-space-unit: 16px;
  --dl-color-primary-100: #003EB3;
  --dl-color-primary-300: #0074F0;
  --dl-color-primary-500: #14A9FF;
  --dl-color-primary-700: #85DCFF;
  --dl-color-success-300: #199033;
  --dl-color-success-500: #32A94C;
  --dl-color-success-700: #4CC366;
  --dl-size-size-xxlarge: 288px;
  --dl-size-size-maxwidth: 1920px;
  --dl-radius-radius-round: 50%;
  --dl-space-space-halfunit: 8px;
  --dl-space-space-sixunits: 96px;
  --dl-space-space-twounits: 32px;
  --dl-radius-radius-radius2: 2px;
  --dl-radius-radius-radius4: 4px;
  --dl-radius-radius-radius8: 8px;
  --dl-space-space-fiveunits: 80px;
  --dl-space-space-fourunits: 64px;
  --dl-space-space-threeunits: 48px;
  --dl-space-space-oneandhalfunits: 24px;
}





.navigation-links1-root-class-name15 {
  top: 2px;
  right: -1107px;
  position: absolute;
}


.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-header {
  top: 0px;
  left: -5px;
  width: 1920px;
  height: 101px;
  display: flex;
  position: absolute;
  max-width: 1920px;
  align-items: center;
  padding-top: 2px;
  margin-right: 0px;
  justify-content: space-between;
  background-color: #353535;
}
.home-image {
  top: 12px;
  left: 53px;
  width: 122px;
  height: 79px;
  position: absolute;
  object-fit: cover;
}
.home-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: space-between;
  flex-direction: column;
}
.home-nav {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
}

.home-form {
  top: 131px;
  left: 186px;
  width: 1120px;
  height: 796px;
  position: absolute;
}
.home-text {
  top: 37px;
  left: 39px;
  color: rgb(40, 75, 99);
  position: absolute;
  font-size: x-large;
  font-weight: 700;
}
.home-text01 {
  top: 105px;
  left: 47px;
  color: rgb(40, 75, 99);
  position: absolute;
}
.home-textarea {
  top: 102px;
  left: 163px;
  color: #284B63;
  width: 545px;
  position: absolute;
}
.home-button {
  left: 115px;
  color: #3C6E71;
  bottom: 51px;
  position: absolute;
  font-weight: bold;
  background-color: #FFFFFF;
}
.home-text02 {
  top: 182px;
  left: 47px;
  color: #284B63;
  position: absolute;
}
.home-textinput {
  top: 176px;
  left: 163px;
  position: absolute;
}
.home-text03 {
  top: 253px;
  left: 47px;
  color: #284b63;
  position: absolute;
}
.home-textarea1 {
  top: 234px;
  left: 163px;
  color: #284B63;
  width: 548px;
  position: absolute;
}
.home-text04 {
  top: 322px;
  left: 47px;
  position: absolute;
}
.home-text05 {
  color: #284b63;
}
.home-textarea2 {
  top: 308px;
  left: 163px;
  color: #284B63;
  width: 549px;
  position: absolute;
}
.home-text07 {
  top: 388px;
  left: 47px;
  color: rgb(40, 75, 99);
  position: absolute;
}
.home-select {
  top: 385px;
  left: 163px;
  color: 284B63;
  position: absolute;
}
.home-text08 {
  top: 435px;
  left: 47px;
  position: absolute;
}
.home-text09 {
  color: #284b63;
}
.home-select1 {
  top: 433px;
  left: 163px;
  color: 284B63;
  position: absolute;
}
.home-text11 {
  top: 486px;
  left: 47px;
  color: #284b63;
  position: absolute;
}
.home-textinput1 {
  top: 477px;
  left: 163px;
  color: #284B63;
  position: absolute;
}
.home-text15 {
  top: 539px;
  left: 47px;
  color: #284b63;
  position: absolute;
}
.home-textinput2 {
  top: 533px;
  left: 163px;
  color: #284B63;
  position: absolute;
}
.home-text16 {
  top: 594px;
  left: 47px;
  position: absolute;
}
.home-text17 {
  color: #284b63;
}
.home-textinput3 {
  left: 163px;
  bottom: 163px;
  position: absolute;
}
.home-text19 {
  top: 648px;
  left: 74px;
  position: absolute;
}
.home-text20 {
  color: #284b63;
}
.home-input {
  left: 163px;
  color: #284B63;
  bottom: 111px;
  position: absolute;
}
/* .home-footer {
  left: 0px;
  width: 1920px;
  bottom: 0px;
  height: 43px;
  display: flex;
  position: absolute;
  max-width: 1920px;
  max-height: auto;
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  justify-content: space-between;
  background-color: #353535;
}
.home-text22 {
  color: #D9D9D9;
  right: 50px;
  bottom: 12px;
  position: absolute;
} */
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
	