.shopTitle {
    margin-top: 20px; /* Adjusted margin for better spacing */
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px; /* Adjusted margin for better spacing */
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: nowrap; /* Allow products to wrap to next line */
    justify-content: center; /* Center align products */
}

.product {
    border-radius: 15px;
    width: 300px;
    height: 550px; /* Auto height to accommodate variable content */
    margin: 20px; /* Adjusted margin for better spacing */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(225, 19, 19, 0.1);
    background-color: rgba(241, 235, 235, 0.89);
}

.product img {
    width: 100%; /* Ensure image fills the container */
    height: 300px;
    border-radius: 15px; /* Ensure image corners match container */
    object-fit: cover; /* Maintain aspect ratio and cover entire container */
}

.product .description {
    text-align: center;
}

.addToCartBttn {
    background-color: transparent;
    border: 2px solid rgb(19, 19, 19);
    min-width: 100px;
    padding: 10px;
    border-radius: 15px;
    transition: background-color 0.3s, color 0.3s; /* Added transition for smoother hover effect */
}

.addToCartBttn:hover {
    background-color: rgb(19, 19, 19);
    color: white;
    cursor: pointer;
}